# We can't remove volumes in a compose override, for the test configuration using the final containers
# we don't want the volumes so this is the default override file to add the volumes in the dev case
# any override will need to include these volumes to use them.
# see:  https://github.com/docker/compose/issues/3729
---
version: "3.8"
services:
  nautobot:
    command: "nautobot-server runserver 0.0.0.0:8080"
    ports:
      - "8080:8080"
    volumes:
      - "./nautobot_config.py:/opt/nautobot/nautobot_config.py"
      - "../:/source"
      # Helper method to mount on top of the python implementations, assuming you are using py3.11 and
      # have all of your projects in the same directory. Uncomment out as required.
      # - "../../netutils/netutils:/opt/nautobot/lib/python3.11/site-packages/netutils"
      # - "../../nornir-nautobot/nornir_nautobot:/opt/nautobot/lib/python3.11/site-packages/nornir_nautobot"
      # - "../../nautobot-plugin-nornir/nautobot_plugin_nornir:/opt/nautobot/lib/python3.11/site-packages/nautobot_plugin_nornir"
      # - "../../nautobot/nautobot:/opt/nautobot/lib/python3.11/site-packages/nautobot"

  docs:
    entrypoint: "mkdocs serve -v -a 0.0.0.0:8080"
    ports:
      - "8001:8080"
    volumes:
      - "../:/source"
    image: "nautobot-golden-config/nautobot:${NAUTOBOT_VER}-py${PYTHON_VER}"
    healthcheck:
      disable: true
    tty: true
  worker:
    volumes:
      - "./nautobot_config.py:/opt/nautobot/nautobot_config.py"
      - "../:/source"
      # Helper method to mount on top of the python implementations, assuming you are using py3.11 and
      # have all of your projects in the same directory. Uncomment out as required.
      # - "../../netutils/netutils:/opt/nautobot/lib/python3.11/site-packages/netutils"
      # - "../../nornir-nautobot/nornir_nautobot:/opt/nautobot/lib/python3.11/site-packages/nornir_nautobot"
      # - "../../nautobot-plugin-nornir/nautobot_plugin_nornir:/opt/nautobot/lib/python3.11/site-packages/nautobot_plugin_nornir"
      # - "../../nautobot/nautobot:/opt/nautobot/lib/python3.11/site-packages/nautobot"
# To expose postgres or redis to the host uncomment the following
# postgres:
#   ports:
#     - "5432:5432"
# redis:
#   ports:
#     - "6379:6379"
