---
dev_addr: "127.0.0.1:8001"
edit_uri: "edit/main/docs"
site_dir: "nautobot_golden_config/static/nautobot_golden_config/docs"
site_name: "Golden Config Documentation"
site_url: "https://docs.nautobot.com/projects/golden-config/en/latest/"
repo_url: "https://github.com/nautobot/nautobot-app-golden-config"
copyright: "Copyright &copy; The Authors"
theme:
  name: "material"
  navigation_depth: 4
  custom_dir: "docs/assets/overrides"
  hljs_languages:
    - "django"
    - "yaml"
  features:
    - "content.action.edit"
    - "content.action.view"
    - "content.code.copy"
    - "navigation.footer"
    - "navigation.indexes"
    - "navigation.tabs"
    - "navigation.tabs.sticky"
    - "navigation.tracking"
    - "search.highlight"
    - "search.share"
    - "search.suggest"
  favicon: "assets/favicon.ico"
  logo: "assets/nautobot_logo.svg"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: "default"
      primary: "black"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: "slate"
      primary: "black"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
extra_css:
  - "assets/extra.css"

extra:
  generator: false
  ntc_sponsor: true
  social:
    - icon: "fontawesome/solid/rss"
      link: "https://blog.networktocode.com/blog/tags/nautobot"
      name: "Network to Code Blog"
    - icon: "fontawesome/brands/youtube"
      link: "https://www.youtube.com/playlist?list=PLjA0bhxgryJ2Ts4GJMDA-tPzVWEncv4pb"
      name: "Nautobot Videos"
    - icon: "fontawesome/brands/slack"
      link: "https://www.networktocode.com/community/"
      name: "Network to Code Community"
    - icon: "fontawesome/brands/github"
      link: "https://github.com/nautobot/nautobot"
      name: "GitHub Repo"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/networktocode"
      name: "Network to Code Twitter"
markdown_extensions:
  - "markdown_version_annotations":
      admonition_tag: "???"
  - "admonition"
  - "toc":
      permalink: true
  - "attr_list"
  - "md_in_html"
  - "pymdownx.details"
  - "pymdownx.highlight":
      anchor_linenums: true
  - "pymdownx.inlinehilite"
  - "pymdownx.snippets"
  - "pymdownx.superfences":
      custom_fences:
        - name: "mermaid"
          class: "mermaid"
          format: !!python/name:pymdownx.superfences.fence_code_format
  - "footnotes"
plugins:
  - "search"
  - "mkdocstrings":
      default_handler: "python"
      handlers:
        python:
          paths: ["."]
          options:
            show_root_heading: true
watch:
  - "README.md"

validation:
  omitted_files: "warn"
  absolute_links: "warn"
  unrecognized_links: "warn"
  anchors: "warn"

nav:
  - Overview: "index.md"
  - User Guide:
      - App Overview: "user/app_overview.md"
      - Getting Started: "user/app_getting_started.md"
      - Using the App: "user/app_use_cases.md"
      - Frequently Asked Questions: "user/faq.md"
      - External Interactions: "user/external_interactions.md"
      - Data Models:
          - Compliance Feature: "models/compliancefeature.md"
  - Administrator Guide:
      - Install and Configure: "admin/install.md"
      - Upgrade: "admin/upgrade.md"
      - Uninstall: "admin/uninstall.md"
      - Compatibility Matrix: "admin/compatibility_matrix.md"
      - Release Notes:
          - "admin/release_notes/index.md"
          - v1.0: "admin/release_notes/version_1.0.md"
  - Developer Guide:
      - Extending the App: "dev/extending.md"
      - Contributing to the App: "dev/contributing.md"
      - Development Environment: "dev/dev_environment.md"
      - Release Checklist: "dev/release_checklist.md"
      - Architecture Decision Records: "dev/arch_decision.md"
      - Code Reference:
          - "dev/code_reference/index.md"
          - Package: "dev/code_reference/package.md"
          - API: "dev/code_reference/api.md"
  - Nautobot Docs Home ↗︎: "https://docs.nautobot.com"
