---
dev_addr: "127.0.0.1:8001"
edit_uri: "edit/main/docs"
site_dir: "golden-config/static/golden-config/docs"
site_name: "Golden Configuration Documentation"
site_url: "https://docs.nautobot.com/projects/golden-config/en/latest/"
repo_url: "https://github.com/nautobot/nautobot-plugin-golden-config"
copyright: "Copyright &copy; 2022 The Authors"
theme:
  name: "material"
  navigation_depth: 4
  custom_dir: "docs/assets/overrides"
  hljs_languages:
    - "django"
    - "yaml"
  features:
    - "navigation.tracking"
    - "navigation.tabs"
    - "navigation.tabs.sticky"
    - "search.suggest"
    - "search.highlight"
    - "search.share"
    - "navigation.indexes"
  favicon: "assets/favicon.ico"
  logo: "assets/nautobot_logo.svg"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: "default"
      primary: "black"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: "slate"
      primary: "black"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
extra_css:
  - "assets/extra.css"

# needed for RTD version flyout menu
# jquery is not (yet) injected by RTD automatically and it might be dropped
# as a dependency in the future
extra_javascript:
  - "https://code.jquery.com/jquery-3.6.0.min.js"

extra:
  generator: false
  ntc_sponsor: true
  social:
    - icon: "fontawesome/solid/rss"
      link: "https://blog.networktocode.com/blog/tags/nautobot"
      name: "Network to Code Blog"
    - icon: "fontawesome/brands/youtube"
      link: "https://www.youtube.com/playlist?list=PLjA0bhxgryJ2Ts4GJMDA-tPzVWEncv4pb"
      name: "Nautobot Videos"
    - icon: "fontawesome/brands/slack"
      link: "https://www.networktocode.com/community/"
      name: "Network to Code Community"
    - icon: "fontawesome/brands/github"
      link: "https://github.com/nautobot/nautobot"
      name: "GitHub Repo"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/networktocode"
      name: "Network to Code Twitter"
markdown_extensions:
  - "admonition"
  - "toc":
      permalink: true
  - "attr_list"
  - "md_in_html"
  - "pymdownx.highlight":
      anchor_linenums: true
  - "pymdownx.inlinehilite"
  - "pymdownx.snippets"
  - "pymdownx.superfences"
plugins:
  - "search"
  - "mkdocstrings":
      default_handler: "python"
      handlers:
        python:
          paths: ["."]
          options:
            show_root_heading: true
watch:
  - "README.md"

nav:
  - Overview: "index.md"
  - User Guide:
      - App Overview: "user/app_overview.md"
      - Using the App: "user/app_use_cases.md"
      - Navigate Backup: "user/app_feature_backup.md"
      - Navigate Compliance: "user/app_feature_compliance.md"
      - Navigate Compliance CLI: "user/app_feature_compliancecli.md"
      - Navigate Compliance JSON: "user/app_feature_compliancejson.md"
      - Navigate Compliance Custom: "user/app_feature_compliancecustom.md"
      - Navigate Intended: "user/app_feature_intended.md"
      - Navigate SoT Agg: "user/app_feature_sotagg.md"
      - Navigate Configuration Post-Processing: "user/app_feature_config_postprocessing.md"
      - Getting Started: "user/app_getting_started.md"
      - Frequently Asked Questions: "user/app_faq.md"
      - External Interactions: "user/app_external_interactions.md"
  - Administrator Guide:
      - Install and Configure: "admin/admin_install.md"
      - Upgrade: "admin/admin_upgrade.md"
      - Uninstall: "admin/admin_uninstall.md"
      - Compatibility Matrix: "admin/compatibility_matrix.md"
      - Release Notes:
          - "admin/release_notes/index.md"
          - v1.2: "admin/release_notes/version_1.2.md"
          - v1.1: "admin/release_notes/version_1.1.md"
          - v1.0: "admin/release_notes/version_1.0.md"
          - v0.10: "admin/release_notes/version_0.10.md"
          - v0.9: "admin/release_notes/version_0.9.md"
  - Developer Guide:
      - Extending the App: "dev/dev_extending.md"
      - Contributing to the App: "dev/dev_contributing.md"
      - Development Environment: "dev/dev_environment.md"
      - Architecture Decision Record: "dev/dev_adr.md"
      - Code Reference:
          - "dev/code_reference/index.md"
          - Models: "dev/code_reference/models.md"
          - API: "dev/code_reference/api.md"
  - Nautobot Docs Home ↗︎: "https://docs.nautobot.com/"
