---
dev_addr: "127.0.0.1:8001"
edit_uri: "edit/main/docs"
site_dir: "nautobot_golden_config/static/nautobot_golden_config/docs"
site_name: "Nautobot Golden Configuration Documentation"
site_url: "https://docs.nautobot.com/projects/golden-config/en/latest/"
repo_url: "https://github.com/nautobot/nautobot-app-golden-config"
copyright: "Copyright &copy; The Authors"
theme:
  name: "material"
  navigation_depth: 4
  custom_dir: "docs/assets/overrides"
  hljs_languages:
    - "django"
    - "yaml"
  features:
    - "content.action.edit"
    - "content.action.view"
    - "content.code.copy"
    - "navigation.footer"
    - "navigation.indexes"
    - "navigation.tabs"
    - "navigation.tabs.sticky"
    - "navigation.tracking"
    - "search.highlight"
    - "search.share"
    - "search.suggest"
  favicon: "assets/favicon.ico"
  logo: "assets/nautobot_logo.svg"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: "default"
      primary: "black"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: "slate"
      primary: "black"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
extra_css:
  - "assets/extra.css"

extra:
  generator: false
  ntc_sponsor: true
  social:
    - icon: "fontawesome/solid/rss"
      link: "https://blog.networktocode.com/blog/tags/nautobot"
      name: "Network to Code Blog"
    - icon: "fontawesome/brands/youtube"
      link: "https://www.youtube.com/playlist?list=PLjA0bhxgryJ2Ts4GJMDA-tPzVWEncv4pb"
      name: "Nautobot Videos"
    - icon: "fontawesome/brands/slack"
      link: "https://www.networktocode.com/community/"
      name: "Network to Code Community"
    - icon: "fontawesome/brands/github"
      link: "https://github.com/nautobot/nautobot"
      name: "GitHub Repo"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/networktocode"
      name: "Network to Code Twitter"
markdown_extensions:
  - "markdown_version_annotations":
      admonition_tag: "???"
  - "admonition"
  - "toc":
      permalink: true
  - "attr_list"
  - "md_in_html"
  - "pymdownx.details"
  - "pymdownx.highlight":
      anchor_linenums: true
  - "pymdownx.inlinehilite"
  - "pymdownx.snippets"
  - "pymdownx.superfences":
      custom_fences:
        - name: "mermaid"
          class: "mermaid"
          format: "!!python/name:pymdownx.superfences.fence_code_format"
  - "footnotes"
plugins:
  - "search"
  - "mkdocstrings":
      default_handler: "python"
      handlers:
        python:
          paths: ["."]
          options:
            show_root_heading: true
watch:
  - "README.md"
  - "docs"

validation:
  omitted_files: "warn"
  absolute_links: "warn"
  unrecognized_links: "warn"
  anchors: "warn"

nav:
  - Overview: "index.md"
  - User Guide:
      - App Overview: "user/app_overview.md"
      - Getting Started: "user/app_getting_started.md"
      - Using the App: "user/app_use_cases.md"
      - Navigate Backup: "user/app_feature_backup.md"
      - Navigate Compliance: "user/app_feature_compliance.md"
      - Navigate Compliance CLI: "user/app_feature_compliancecli.md"
      - Navigate Compliance JSON: "user/app_feature_compliancejson.md"
      - Navigate Compliance XML: "user/app_feature_compliancexml.md"
      - Navigate Compliance Custom: "user/app_feature_compliancecustom.md"
      - Navigate Intended: "user/app_feature_intended.md"
      - Navigate SoT Agg: "user/app_feature_sotagg.md"
      - Navigate Configuration Post-Processing: "user/app_feature_config_postprocessing.md"
      - Navigate Config Plans: "user/app_feature_config_plans.md"
      - Navigate Remediation: "user/app_feature_remediation.md"
      - Frequently Asked Questions: "user/faq.md"
      - External Interactions: "user/external_interactions.md"
      - Troubleshooting:
          - General: "user/troubleshooting/troubleshoot_general.md"
          - Credentials: "user/troubleshooting/troubleshoot_credentials.md"
          - Dispatchers: "user/troubleshooting/troubleshoot_dispatchers.md"
  - Administrator Guide:
      - Install and Configure: "admin/install.md"
      - Upgrade: "admin/upgrade.md"
      - Uninstall: "admin/uninstall.md"
      - Compatibility Matrix: "admin/compatibility_matrix.md"
      - Troubleshooting:
          - "admin/troubleshooting/index.md"
          - E3XXX: "admin/troubleshooting/E3XXX.md"
          - E3001: "admin/troubleshooting/E3001.md"
          - E3002: "admin/troubleshooting/E3002.md"
          - E3003: "admin/troubleshooting/E3003.md"
          - E3004: "admin/troubleshooting/E3004.md"
          - E3005: "admin/troubleshooting/E3005.md"
          - E3006: "admin/troubleshooting/E3006.md"
          - E3007: "admin/troubleshooting/E3007.md"
          - E3008: "admin/troubleshooting/E3008.md"
          - E3009: "admin/troubleshooting/E3009.md"
          - E3010: "admin/troubleshooting/E3010.md"
          - E3011: "admin/troubleshooting/E3011.md"
          - E3012: "admin/troubleshooting/E3012.md"
          - E3013: "admin/troubleshooting/E3013.md"
          - E3014: "admin/troubleshooting/E3014.md"
          - E3015: "admin/troubleshooting/E3015.md"
          - E3016: "admin/troubleshooting/E3016.md"
          - E3017: "admin/troubleshooting/E3017.md"
          - E3018: "admin/troubleshooting/E3018.md"
          - E3019: "admin/troubleshooting/E3019.md"
          - E3020: "admin/troubleshooting/E3020.md"
          - E3021: "admin/troubleshooting/E3021.md"
          - E3022: "admin/troubleshooting/E3022.md"
          - E3023: "admin/troubleshooting/E3023.md"
          - E3024: "admin/troubleshooting/E3024.md"
          - E3025: "admin/troubleshooting/E3025.md"
          - E3026: "admin/troubleshooting/E3026.md"
          - E3027: "admin/troubleshooting/E3027.md"
          - E3028: "admin/troubleshooting/E3028.md"
          - E3029: "admin/troubleshooting/E3029.md"
          - E3030: "admin/troubleshooting/E3030.md"
          - E3031: "admin/troubleshooting/E3031.md"
          - E3032: "admin/troubleshooting/E3032.md"
          - E3033: "admin/troubleshooting/E3033.md"
      - Migrating To v2: "admin/migrating_to_v2.md"
      - Release Notes:
          - "admin/release_notes/index.md"
          - v3.0: "admin/release_notes/version_3.0.md"
          - v2.5: "admin/release_notes/version_2.5.md"
          - v2.4: "admin/release_notes/version_2.4.md"
          - v2.3: "admin/release_notes/version_2.3.md"
          - v2.2: "admin/release_notes/version_2.2.md"
          - v2.1: "admin/release_notes/version_2.1.md"
          - v2.0: "admin/release_notes/version_2.0.md"
          - v1.6: "admin/release_notes/version_1.6.md"
          - v1.5: "admin/release_notes/version_1.5.md"
          - v1.4: "admin/release_notes/version_1.4.md"
          - v1.3: "admin/release_notes/version_1.3.md"
          - v1.2: "admin/release_notes/version_1.2.md"
          - v1.1: "admin/release_notes/version_1.1.md"
          - v1.0: "admin/release_notes/version_1.0.md"
          - v0.10: "admin/release_notes/version_0.10.md"
          - v0.9: "admin/release_notes/version_0.9.md"
  - Developer Guide:
      - Extending the App: "dev/extending.md"
      - Contributing to the App: "dev/contributing.md"
      - Development Environment: "dev/dev_environment.md"
      - Release Checklist: "dev/release_checklist.md"
      - Architecture Decision Records: "dev/arch_decision.md"
      - Code Reference:
          - "dev/code_reference/index.md"
          - Models: "dev/code_reference/models.md"
          - Package: "dev/code_reference/package.md"
          - API: "dev/code_reference/api.md"
  - Nautobot Docs Home ↗︎: "https://docs.nautobot.com"
