{% extends 'generic/object_create.html' %}
{% load form_helpers %}
{% load helpers %}
{% load static %}

{% block title %}Generate Config Plans{% endblock %}

{% block form %}
  <div class="panel panel-default">
  <div class="panel-heading"><strong>Plan Details</strong></div>
  <div class="panel-body">
    {% render_field form.plan_type %}
    {% render_field form.change_control_id %}
    {% render_field form.change_control_url %}
    {% render_field form.feature %}
    {% render_field form.commands %}
  </div>
  <div class="panel-heading"><strong>Plan Filters</strong></div>
  <div class="panel-body">
    <span class="help-block">
      <p>Note: Selecting no filters will generate plans for all applicable devices.</p>
    </span>
    {% render_field form.tenant_group %}
    {% render_field form.tenant %}
    {% render_field form.region %}
    {% render_field form.site %}
    {% render_field form.rack_group %}
    {% render_field form.rack %}
    {% render_field form.role %}
    {% render_field form.manufacturer %}
    {% render_field form.platform %}
    {% render_field form.device_type %}
    {% render_field form.device %}
    {% render_field form.tag %}
    {% render_field form.status %}
  </div>
</div>

{% endblock %}

{% block buttons %}
{% include "nautobot_golden_config/job_result_modal.html" %}

<a href="#" class="openBtn" data-toggle="modal" data-target="#modalPopup">
  <button type="button" id="startJob" class="btn btn-primary">Generate</button>
</a>

{% endblock %}

{% block javascript %}
<script src="{% static 'toggle_fields.js' %}"></script>
<script src="{% static 'run_job.js' %}"></script>
<script>
var nautobot_csrf_token = "{{ csrf_token }}";
const hideFormData = JSON.parse('{{ form.hide_form_data|safe }}')

clearFields(hideFormData)
setupFieldListeners(hideFormData)

function formatJobData(data) {
  var arrayFields = ["feature", "device_type", "tenant_group", "tenant", "region", "site","rack_group","rack","role","manufacturer","platform","device_type","device","tag"]
  var form_data = formDataToDictionary(data, arrayFields);
  delete form_data.csrfmiddlewaretoken;
  delete form_data.q;
  return form_data;
}
var jobClass = "plugins/nautobot_golden_config.jobs/GenerateConfigPlans"
var redirectUrlTemplate = "/plugins/golden-config/config-plan/?job_result_id={jobData.result.id}"
document.getElementById("startJob").onclick = function() {startJob(jobClass, formatJobData($("form").serializeArray()), redirectUrlTemplate)};

</script>
{% endblock javascript %}