{% extends 'generic/object_list.html' %}
{% load static %}


{% block buttons %}
<a href="{% url 'plugins:nautobot_golden_config:configplan_list' %}?status=Completed" class="btn btn-primary" id="completed-button">
  <span class="mdi mdi-link" aria-hidden="true"></span> Completed Plans
</a>
{% endblock %}

{% block bulk_buttons %}

<!-- Deploy Button -->
{% if perms.extras.run_job %}
<button id="deploySelected" type="button" class="btn btn-primary btn-sm">
  <span class="mdi mdi-upload-multiple" aria-hidden="true"></span> Deploy Selected
</button>
{% endif %}

{% endblock %}

{% block javascript %}
  {{ block.super }}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var deploySelectedButton = document.getElementById("deploySelected");
    deploySelectedButton.addEventListener("click", function(event) {
        // Get selected config plan IDs
        var selectedConfigPlanIds = [];
        if (document.querySelectorAll('input[name="pk"]:checked').length === 0) {
            alert("No config plans selected.");
            return;
        }
        document.querySelectorAll('input[name="pk"]:checked').forEach(function(checkbox) {
            selectedConfigPlanIds.push(checkbox.value);
        });

        // Redirect to the confirmation view with selected config plan IDs
        var url = "{% url 'plugins:nautobot_golden_config:configplan_confirmation' %}?plan_ids=" + selectedConfigPlanIds.join(",");
        window.location.href = url;
    });
});
</script>
{% endblock javascript %}