{% extends "dcim/device.html" %}
{% load helpers %}
{% load json_helpers %}
{% load static %}

{% block title %} {{ object }} - Config Compliance {% endblock title %}

{% block extra_styles %}
    {{ block.super }}
    <style>
        #compliance-content pre {
            font-size: 10px;
            display: inline-block;
        }
        #compliance-content table, th, td {
            border: 1px solid lightgray;
            border-collapse: collapse;
        }
        #compliance-content th, td {
            min-width: 200px;
            width: 100%;
            padding: 15px;
            height: max-content;
        }
        #compliance-content td.config_hover span[id*="_intended"] pre {
            max-height: 300px;
        }
        #compliance-content td.config_hover span[id*="_actual"] pre {
            max-height: 300px;
        }
        #navigation span.config_hover_button {
            vertical-align: center;
            display: none;
        }
        #navigation td.config_hover:hover span.config_hover_button {
            display: inline;
        }
        #navigation table {
            border: 3px solid white;
            border-collapse: collapse;
        }
        #navigation td {
            color: white;
            border:3px solid white;
            width:400px;
            height:20px;
            padding:10px;
            transition: transform 0.5s;
        }
        #navigation tr:first-child {
            border-radius: 0.6em 0 0 0;
        }
        #navigation a, #navigation a:hover{
            text-decoration: none;
            color: white;
        }
        #navigation td a {
            text-align: center;
            display:block;
            width:100%;
        }
        #navigation td:hover{
            transform: scale(1.1);
        }
    </style>
{% endblock extra_styles %}

{% block content %}
    {% block navigation %}
        <div class="card" style="width:100%">
            <div class="card-header"><strong>Feature Navigation</strong>
                <a class="btn btn-success float-end" href="{% url 'plugins:nautobot_golden_config:configcompliance_devicetab' pk=device.pk %}?tab={{ active_tab }}&amp;compliance=compliant">Compliant</a>
                <a class="btn btn-danger float-end" href="{% url 'plugins:nautobot_golden_config:configcompliance_devicetab' pk=device.pk %}?tab={{ active_tab }}&amp;compliance=non-compliant">Non-Compliant</a>
                <a class="btn btn-info float-end" href="{% url 'plugins:nautobot_golden_config:configcompliance_devicetab' pk=device.pk %}?tab={{ active_tab }}">Clear</a>
            </div>
            <div id="navigation">
                <table>
                    <tr>
                        {% for item in compliance_details %}
                            {% if item.compliance %}
                                <td style="background-color: #5cb85c;">
                            {% else %}
                                <td style="background-color: #d9534f;">
                            {% endif %}
                            <a href="#{{ item.rule }}">
                                {{ item.rule }}
                            </a>
                            </td>
                            {% if forloop.counter|divisibleby:"5" %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    {% endblock navigation %}
    {% for item in compliance_details %}
        <div class="card mb-3" id="{{ item.rule }}" style="width: 100%;">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong class="me-auto">
                    <a href="{% url 'plugins:nautobot_golden_config:configcompliance' pk=item.pk %}">
                        {{ item.rule.feature.name|upper }}
                    </a>
                </strong>
                <a class="btn nb-collapse-toggle"
                   data-bs-toggle="collapse"
                   panel-id="{{ item.rule.pk }}"
                   href="#collapse-{{ item.rule.pk }}"
                   role="button"
                   aria-expanded="true"
                   aria-controls="collapse-{{ item.rule.pk }}">
                    <span class="mdi mdi-chevron-down"></span>
                </a>
            </div>
            <div class="collapse show" id="collapse-{{ item.rule.pk }}">
                <table class="table table-hover attr-table compliance-content">
                    <tr>
                        <td class="w-25">Status</td>
                        {% if item.rule.config_ordered %}
                            {% if item.compliance %}
                                <td><span class="badge bg-success">Compliant</span> <span class="mdi mdi-sort" title="Ordered Configuration Test"></span></td>
                            {% else %}
                                <td><span class="badge bg-danger">Non-Compliant</span> <span class="mdi mdi-sort" title="Ordered Configuration Test"></span></td>
                            {% endif %}
                        {% else %}
                            {% if item.compliance %}
                                <td><span class="badge bg-success">Compliant</span> <span class="mdi mdi-swap-vertical" title="Unordered Configuration Test"></span></td>
                            {% else %}
                                <td><span class="badge bg-danger">Non-Compliant</span> <span class="mdi mdi-swap-vertical" title="Unordered Configuration Test"></span></td>
                            {% endif %}
                        {% endif %}

                    </tr>
                    {% if item.ordered %}
                        <tr>
                            <td class="w-25">Configuration</td>
                            <td class="config_hover">
                                {% if item.rule.config_type == "xml" %}
                                    <span id="{{ item.rule|slugify }}_actual"><pre><code class="language-xml">{{ item.actual|placeholder }}</code></pre></span>
                                {% elif item.rule.config_type == "json" %}
                                    <span id="{{ item.rule|slugify }}_actual"><pre><code class="language-json">{{ item.actual|placeholder|condition_render_json }}</code></pre></span>
                                {% else %}
                                    <span id="{{ item.rule|slugify }}_actual"><pre>{{ item.actual|placeholder }}</pre></span>
                                {% endif %}
                                <span class="config_hover_button">
                                    <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#{{ item.rule|slugify }}_actual">
                                        <span aria-hidden="true" class="mdi mdi-content-copy"></span>
                                        <span class="visually-hidden">Copy</span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="w-25">Intended Configuration</td>
                            <td class="config_hover">
                                {% if item.rule.config_type == "xml" %}
                                    <span id="{{ item.rule|slugify }}_intended"><pre><code class="language-xml">{{ item.intended|placeholder }}</code></pre></span>
                                {% elif item.rule.config_type == "json" %}
                                    <span id="{{ item.rule|slugify }}_intended"><pre><code class="language-json">{{ item.intended|placeholder|condition_render_json }}</code></pre></span>
                                {% else %}
                                    <span id="{{ item.rule|slugify }}_intended"><pre>{{ item.intended|placeholder }}</pre></span>
                                {% endif %}
                                <span class="config_hover_button">
                                    <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#{{ item.rule|slugify }}_intended">
                                        <span aria-hidden="true" class="mdi mdi-content-copy"></span>
                                        <span class="visually-hidden">Copy</span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-25">Actual Configuration</td>
                            <td class="config_hover">
                                {% if item.rule.config_type == "xml" %}
                                    <span id="{{ item.rule|slugify }}_actual"><pre><code class="language-xml">{{ item.actual|placeholder }}</code></pre></span>
                                {% elif item.rule.config_type == "json" %}
                                    <span id="{{ item.rule|slugify }}_actual"><pre><code class="language-json">{{ item.actual|placeholder|condition_render_json }}</code></pre></span>
                                {% else %}
                                    <span id="{{ item.rule|slugify }}_actual"><pre>{{ item.actual|placeholder }}</pre></span>
                                {% endif %}
                                <span class="config_hover_button">
                                    <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#{{ item.rule|slugify }}_actual">
                                        <span aria-hidden="true" class="mdi mdi-content-copy"></span>
                                        <span class="visually-hidden">Copy</span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                    {% if item.missing != "" %}
                        <tr>
                            <td class="text-danger w-25">Missing Configuration</td>
                            <td class="config_hover">
                                <span id="{{ item.rule|slugify }}_missing"><pre>{{ item.missing|condition_render_json }}</pre></span>
                                <span class="config_hover_button">
                                    <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#{{ item.rule|slugify }}_missing">
                                        <span aria-hidden="true" class="mdi mdi-content-copy"></span>
                                        <span class="visually-hidden">Copy</span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                    {% if item.extra != "" %}
                        <tr>
                            <td class="text-danger w-25">Extra Configuration</td>
                            <td class="config_hover">
                                <span id="{{ item.rule|slugify }}_extra"><pre>{{ item.extra|condition_render_json }}</pre></span>
                                <span class="config_hover_button">
                                    <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#{{ item.rule|slugify }}_extra">
                                        <span aria-hidden="true" class="mdi mdi-content-copy"></span>
                                        <span class="visually-hidden">Copy</span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                    {% if item.remediation != "" %}
                        <tr>
                            <td class="text-danger w-25">Remediating Configuration</td>
                            <td class="config_hover">
                                <span id="{{ item.rule|slugify }}_remediation"><pre>{{ item.remediation|condition_render_json }}</pre></span>
                                <span class="config_hover_button">
                                    <button class="btn btn-secondary nb-btn-inline-hover" data-clipboard-target="#{{ item.rule|slugify }}_remediation">
                                        <span aria-hidden="true" class="mdi mdi-content-copy"></span>
                                        <span class="visually-hidden">Copy</span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
