{% extends 'generic/object_list.html' %}

{% block bulk_buttons %}
<!-- Deploy Confirmation Modal -->
<div class="modal fade" id="bulk_deploy_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="bulk_deploy_modal_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bulk_deploy_modal_label">Confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="commit" value="False"> Commit configuration to devices and then delete the selected plans?
                    </label>
                    <span class='help-block'>Leave unchecked for dry-run</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" formaction="{% url 'plugins:nautobot_golden_config:configplan_bulk_deploy' %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-primary">Deploy</button>
            </div>
        </div>
    </div>
</div>

<!-- Deploy Button -->
{% if perms.extras.run_job %}
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#bulk_deploy_confirm_modal">
    <span class="mdi mdi-upload-multiple" aria-hidden="true"></span> Deploy Selected
</button>
{% endif %}
{% endblock %}
