<div class="panel panel-default">
  {% if template_type == "device-compliance" %}
  <div class="panel-heading">
    <a href="{% url 'plugins:nautobot_golden_config:configcompliance_devicedetail' pk=device.pk %}"
      ><strong>Config Compliance Validation</strong></a
    >
  </div>
  <div class="panel panel-default">
    <table class="table table-hover panel-body report">
      <thead>
        <tr class="table-headings">
          <th>Feature</th>
          <th>Compliance</th>
        </tr>
      </thead>
      <tbody>
        {% for item in compliance %}
        <tr>
          <td>{{ item.rule__feature__name }}</td>
          <td>
            {% if item.compliance == False %}
            <span class="label label-danger">Non-Compliant</span>
            {% elif item.compliance == True %}
            <span class="label label-success">Compliant</span>
            {% else %}
            <span class="label label-info">N/A</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %} {% if template_type == 'site' %}
  <div class="panel panel-default">
    <table class="table table-hover panel-body report">
      <thead>
        <tr class="table-headings">
          <th>Feature</th>
          <th>Non-compliant</th>
          <th>Compliant</th>
        </tr>
      </thead>
      <tbody>
        {% for item in compliance %}
        <tr>
          <td>{{ item.rule__feature__name }}</td>
          <td><span class="label label-danger">{{ item.non_compliant }}</span></td>
          <td><span class="label label-success">{{ item.compliant }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %} {% if template_type == "device-configs" %}
  <div class="panel-heading">
    <strong>Configuration Types</strong>
  </div>
  <div class="panel panel-default">
    <table class="table table-hover panel-body report">
      <thead>
        <tr class="table-headings">
          <th>Type</th>
          <th>Config</th>
        </tr>
      </thead>
      <tbody>
        {% if config_features.compliance and golden_config.compliance_config %}
        <tr>
          <td>Compliance</td>
          <td>
            <a
              href="{% url 'plugins:nautobot_golden_config:configcompliance_details' pk=device.pk config_type='compliance' %}"
              ><i class="mdi mdi-file-compare"></i
            ></a>
          </td>
        </tr>
        {% endif %} {% if config_features.intended and golden_config.intended_config %}
        <tr>
          <td>Intended</td>
          <td>
            <a
              href="{% url 'plugins:nautobot_golden_config:configcompliance_details' pk=device.pk config_type='intended' %}"
              ><i class="mdi mdi-text-box-check-outline"></i
            ></a>
          </td>
        </tr>
        {% endif %} {% if config_features.postprocessing and golden_config.intended_config %}
        <tr>
          <td>Configuration Postprocessing</td>
          <td>
            <a
              href="{% url 'plugins:nautobot_golden_config:configcompliance_details' pk=device.pk config_type='postprocessing' %}"
              ><i class="mdi mdi-text-box-check"></i
            ></a>
          </td>
        </tr>
        {% endif %} {% if config_features.backup and golden_config.backup_config %}
        <tr>
          <td>Actual</td>
          <td>
            <a
              href="{% url 'plugins:nautobot_golden_config:configcompliance_details' pk=device.pk config_type='backup' %}"
              ><i class="mdi mdi-file-document-outline"></i
            ></a>
          </td>
        </tr>
        {% endif %} {% if config_features.sotagg %}
        <tr>
          <td>SoT Aggregation Data</td>
          <td>
            <a
              href="{% url 'plugins:nautobot_golden_config:configcompliance_details' pk=device.pk config_type='sotagg' %}"
              ><i class="mdi mdi-code-json"></i
            ></a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
