{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Mapping Details</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Expression Choice</td>
                <td>{{ object.expression_choice }}</td>
            </tr>
            <tr>
                <td>Configuration String</td>
                <td>{{ object.config_string }}</td>
            </tr>
            <tr>
                <td>Remediation Function</td>
                <td>{{ object.remediation_function }}</td>
            </tr>
            <tr>
                <td>Platform</td>
                <td>{{ object.platform|hyperlinked_object }}</td>
            </tr>
            <tr>
                <td>Enabled</td>
                <td>{{ object.enabled }}</td>
            </tr>
        </table>
    </div>
{% endblock %}