{% load static %}
<!-- Reference https://cdn.jsdelivr.net/npm/diff2html/bundles/ and obtain files and version folder name -->
<link rel="stylesheet" type="text/css" href="{% static 'nautobot_golden_config/diff2html-3.4.43/diff2html.min.css' %}"/>
<script type="text/javascript" src="{% static 'nautobot_golden_config/diff2html-3.4.43/diff2html.min.js' %}"></script>

<style>
    .d2h-tag {
        display: none;
    }
    .d2h-file-collapse {
        display:none;
    }
    #diffoutput {
        display: none;
    }
</style>
<h1>{{ title_name }} - {{ device_name }}
    {% if format != 'diff' %}
        <span class="config_hover_button">
            <button type="button" class="btn btn-inline btn-default hover_copy_button" data-clipboard-action="copy" data-clipboard-target="#{{ title_name|slugify }}_{{ device_name|slugify }}">
                <span class="mdi mdi-content-copy"></span>
            </button>
        </span>
    {% endif %}
</h1>

<div class="panel panel-default" style="padding-bottom: 5px">
    <div style="padding-left: 10px">
        {% if format in 'json,yaml' %}
            <pre id="{{ title_name|slugify }}_{{ device_name|slugify }}">{{ output }}</pre>
        {% elif format == 'diff' %}
            <div id="diffoutput">{{ output }}</div>
            <div id="diffrender"></div>
        {% else %}
            <pre id="{{ title_name|slugify }}_{{ device_name|slugify }}">{{ output }}</pre>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var is_modal = {{ is_modal|lower }};
    async function renderDiff() {
        const str_input = document.getElementById("diffoutput").innerText;
        const outputFormat = is_modal ? "line-by-line" : "side-by-side";
        const diffHtml = Diff2Html.html(str_input, {
            drawFileList: true,
            matching: 'lines',
            outputFormat: outputFormat,
        });
        document.getElementById('diffrender').innerHTML = diffHtml;
    }
    if (is_modal) {
        renderDiff();
    } else {
        document.addEventListener("DOMContentLoaded", renderDiff);
    }
</script>
