{% extends 'base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% if perms.nautobot_golden_config.add_compliancefeature %}
        {% add_button 'plugins:nautobot_golden_config:backuplinereplace_add' %}
    {% endif %}
</div>
<h1>{% block title %}Line Replacements{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_delete_url="plugins:nautobot_golden_config:backuplinereplace_bulk_delete" %}
    </div>
	<div class="col-md-3 noprint">
		{% include 'inc/search_panel.html' %}
	</div>
</div>
{% endblock %}