{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Remediation Setting Details</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Platform</td>
                <td>{{ object.platform }}</td>
            </tr>
            <tr>
                <td>Remediation Type</td>
                <td>{{ object.remediation_type }}</td>
            </tr>
            <tr>
                <td>Remediation Options</td>
                <td><pre>{{ object.remediation_options|render_json }}</pre></td>
            </tr>
        </table>
    </div>
{% endblock %}